<DOCTYPE! html>
	<head>
		<title> Delete Student </title>
		
		<script
  		src="https://code.jquery.com/jquery-3.3.1.js"
  		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  		crossorigin="anonymous">
		</script>
			
		<script type="text/javascript">
			$( document ).ready(function() {

				
				
			})
			var deleteStudent = function(id){
					
					$.get( "/deleteStudent/delete?StudentID=" + id, function() {
							alert( "Student Deleted!" );
							window.location.href = "/deleteStudent" ;
					})
				}
		</script>
		
	</head>
	<body>
		<table>
			<tr>
				<th>StudentID</th>
				<th>Student Name</th>
			</tr>
			<tr th:each="i : ${info}">
				<td th:text="${i.StudentID}"></td>
				<td th:text="${i.StuName}"></td>
				<td><button th:onclick="${'deleteStudent(' + i.StudentID + ');'}">DELETE</button></td>
			</tr>
		</table>
	</body>
</html>