<DOCTYPE! html>
	<head>
		<title> Rooms List</title>
		
		<script
  		src="https://code.jquery.com/jquery-3.3.1.js"
  		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  		crossorigin="anonymous">
		</script>
			
		<script type="text/javascript">
			$( document ).ready(function() {	
			})
		</script>
		
	</head>
	<body>
		<table>
			<h1>Rooms List</h1>
			<tr>
				<th>Room ID</th>
				<th>Room Number</th>
				<th>Rent</th>
			</tr>
			<tr th:each="r : ${rooms}">
				<td th:text="${r.RoomID}"></td>
				<td th:text="${r.RoomNumber}"></td>
				<td th:text="${r.Rent}"></td>
			</tr>
		</table>
	</body>
</html>