<!DOCTYPE HTML>

<html>
	<head>
		<title>Students with Active Leases</title>
	</head>
	<body>
		<h1>Active Leases</h1>
		<table>
			<tr>
				<th>Student Category</th>
				<th>Residence Hall</th>
				<th>Furnished Apartment</th>
			</tr>
			<tr>
				<td>First-Year</td>
				<td th:text="${leaseInfo.firstyear_hall}"></td>
				<td th:text="${leaseInfo.firstyear_apt}"></td>
			</tr>
			<tr>
				<td>Undergraduate</td>
				<td th:text="${leaseInfo.undergrad_hall}"></td>
				<td th:text="${leaseInfo.undergrad_apt}"></td>
			</tr>
			<tr>
				<td>Postgraduate</td>
				<td th:text="${leaseInfo.grad_hall}"></td>
				<td th:text="${leaseInfo.grad_apt}"></td>
			</tr>
		</table>
	</body>
</html>
