<!DOCTYPE HTML>

<html>
	<head>
		<title>Students with Active Leases</title>
	</head>
	<body>
		<h1>Active Leases</h1>
		<table>
			<tr>
				<th>Student Category</th>
				<th>Residence Hall</th>
				<th>Furnished Apartment</th>
			</tr>
			<tr>
				<td>First-Year Undergraduate</td>
				<td th:text="${fyunh}"></td>
				<td th:text="${fyuna}"></td>
			</tr>
			<tr>
				<td>Second-Year Undergraduate</td>
				<td th:text="${syunh}"></td>
				<td th:text="${syuna}"></td>
			</tr>
			<tr>
                <td>Third-Year Undergraduate</td>
                <td th:text="${tyunh}"></td>
                <td th:text="${tyuna}"></td>
            </tr>
			<tr>
                <td>Fourth-Year Undergraduate</td>
                <td th:text="${fryunh}"></td>
                <td th:text="${fryuna}"></td>
            </tr>
			<tr>
				<td>Postgraduate</td>
				<td th:text="${gh}"></td>
				<td th:text="${ga}"></td>
			</tr>
		</table>
	</body>
</html>
