<!DOCTYPE HTML>

<html>
    <head>
        <title>Unpaid Invoices</title>
    </head>
    <body>
		<h1>Unpaid Invoices</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Payment Due</th>
                <th>Room Number</th>
				<th>Residence Hall</th>
            </tr>
			<tr th:each="info : ${unpaidInfo}">
                <td th:text="${info.lname}"></td>
                <td th:text="${info.paydue}"></td>
                <td th:text="${info.rnum}"></td>
                <td th:text="${info.hname}"></td>
            </tr>
			<tr>
				<td><strong>Total: </strong></td>
				<td th:text="${sum}"></td>
			</tr>
        </table>
    </body>
</html>

